body {
	font-family: oswald
}

input {
	font-family: inherit;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
}

textarea {
	font-family: inherit;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	width: 100%;
	font-size: 12px;
}

#broadcast_button {
	border: 1px solid #00ff00;
	display: inline-block;
	background: #00ff00;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
}

#broadcast_button:hover {
	color: #fff;
	border: 1px solid #333;
	background: #333;
}

#user_key_container,
#room_name_container,
#room_user_count {
	font-weight: bold;
}

.all-contents {
	width: 100%;
}

.all-sub-contents {
	width: 1000px;
	margin: 0 auto;
}

.broadcast-action {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.container-heading {
	border-bottom: 1px dotted #333;
	font-size: 14px;
}

.header {
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px;
}

.header-sub-title {
	font-size: 12px;
	margin-bottom: 10px;
}

.header-title {
	font-size: 30px;
	font-weight: bold;
}

.input-row {
	width: 100%;
	margin-top: 5px;
}

.left-bottom {
	border: 1px solid #333;
	border-radius: 3px;
	width: 100%;
	height: 200px;
	float: left;
	margin-top: 20px;
}

.left-top {
	border: 1px solid #333;
	border-radius: 3px;
	width: 100%;
	height: 200px;
	float: left;
}

.main-content {
	width: 100%;
	display: inline-block;
}

.main-left {
	width: 49%;
	float: left;
}

.main-right {
	width: 49%;
	float: right;
}

.output-container {
	font-size: 12px;
	height: 160px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.output-container-broadcast {
	font-size: 12px;
}

.output-container-right {
	font-size: 12px;
	height: 360px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.output-row {
	margin-bottom: 3px;
	margin-top: 3px;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 3px;
}

.paddings {
	padding: 5px;
}

.right-contents {
	border: 1px solid #333;
	border-radius: 3px;
	width: 100%;
	height: 400px;
}

.right-contents-broadcast {
	border: 1px solid #333;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 20px;
}

@media (max-width: 1000px) {
	.all-sub-contents {
		width: 100%;
	}

	.main-left {
		width: 100%;
	}

	.main-right {
		width: 100%;
		margin-top: 20px;
	}
}